
#que_id2 {
	display:none;
}
#que_id3 {
	display:none;
}
#que_id4 {
	display:none;
}
#que_id5 {
	display:none;
}
#que_id6 {
	display:none;
} 
#add_textfields2 {
	display:none;
}

#SS_que_id2 {
	display:none;
}
#SS_que_id3 {
	display:none;
}
#SS_que_id4 {
	display:none;
}
#SS_que_id5 {
	display:none;
}
#SS_que_id6 {
	display:none;
} 
#SS_add_textfields2 {
	display:none;
}
.separate_sub {
	
	
}
.table_head {
	padding:40px;
}
.table_row {
	background-image:linear-gradient(#DADADA, #B9B9B9);
}
.table_head_row {
	background-image:linear-gradient(#B9B9B9, #777878);
}
.page_heading {
    color: #4A4C61;
    font-size:24px;
    border-bottom: 1px solid #7C7D81;
    text-align:center;
    
}
.button_full {
	width:100%;
}
